@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-BoldItalic.eot');
    src: url('SVN-GeorgiaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-BoldItalic.woff2') format('woff2'),
        url('SVN-GeorgiaPro-BoldItalic.woff') format('woff'),
        url('SVN-GeorgiaPro-BoldItalic.ttf') format('truetype'),
        url('SVN-GeorgiaPro-BoldItalic.svg#SVN-GeorgiaPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-Black.eot');
    src: url('SVN-GeorgiaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-Black.woff2') format('woff2'),
        url('SVN-GeorgiaPro-Black.woff') format('woff'),
        url('SVN-GeorgiaPro-Black.ttf') format('truetype'),
        url('SVN-GeorgiaPro-Black.svg#SVN-GeorgiaPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-BlackItalic.eot');
    src: url('SVN-GeorgiaPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-BlackItalic.woff2') format('woff2'),
        url('SVN-GeorgiaPro-BlackItalic.woff') format('woff'),
        url('SVN-GeorgiaPro-BlackItalic.ttf') format('truetype'),
        url('SVN-GeorgiaPro-BlackItalic.svg#SVN-GeorgiaPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-LightItalic.eot');
    src: url('SVN-GeorgiaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-LightItalic.woff2') format('woff2'),
        url('SVN-GeorgiaPro-LightItalic.woff') format('woff'),
        url('SVN-GeorgiaPro-LightItalic.ttf') format('truetype'),
        url('SVN-GeorgiaPro-LightItalic.svg#SVN-GeorgiaPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-Bold.eot');
    src: url('SVN-GeorgiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-Bold.woff2') format('woff2'),
        url('SVN-GeorgiaPro-Bold.woff') format('woff'),
        url('SVN-GeorgiaPro-Bold.ttf') format('truetype'),
        url('SVN-GeorgiaPro-Bold.svg#SVN-GeorgiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-Italic.eot');
    src: url('SVN-GeorgiaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-Italic.woff2') format('woff2'),
        url('SVN-GeorgiaPro-Italic.woff') format('woff'),
        url('SVN-GeorgiaPro-Italic.ttf') format('truetype'),
        url('SVN-GeorgiaPro-Italic.svg#SVN-GeorgiaPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-Regular.eot');
    src: url('SVN-GeorgiaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-Regular.woff2') format('woff2'),
        url('SVN-GeorgiaPro-Regular.woff') format('woff'),
        url('SVN-GeorgiaPro-Regular.ttf') format('truetype'),
        url('SVN-GeorgiaPro-Regular.svg#SVN-GeorgiaPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-Light.eot');
    src: url('SVN-GeorgiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-Light.woff2') format('woff2'),
        url('SVN-GeorgiaPro-Light.woff') format('woff'),
        url('SVN-GeorgiaPro-Light.ttf') format('truetype'),
        url('SVN-GeorgiaPro-Light.svg#SVN-GeorgiaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-SemiBoldItalic.eot');
    src: url('SVN-GeorgiaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-SemiBoldItalic.woff2') format('woff2'),
        url('SVN-GeorgiaPro-SemiBoldItalic.woff') format('woff'),
        url('SVN-GeorgiaPro-SemiBoldItalic.ttf') format('truetype'),
        url('SVN-GeorgiaPro-SemiBoldItalic.svg#SVN-GeorgiaPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia Pro';
    src: url('SVN-GeorgiaPro-SemiBold.eot');
    src: url('SVN-GeorgiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GeorgiaPro-SemiBold.woff2') format('woff2'),
        url('SVN-GeorgiaPro-SemiBold.woff') format('woff'),
        url('SVN-GeorgiaPro-SemiBold.ttf') format('truetype'),
        url('SVN-GeorgiaPro-SemiBold.svg#SVN-GeorgiaPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

