.all-location {
  position: relative;
  padding-bottom: 120px;
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    &.active {
      .tag-animation {
        &::before {
          transform: scaleX(1);
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }
    // opacity: 0;
  }
  .tag-animation {
    font-weight: 500;
    line-height: 62px;
    position: relative;
    text-align: center;
    // &:hover {
    //   &::before {
    //     transform: scaleX(1);
    //   }
    //   &::after {
    //     transform: scaleX(1);
    //   }
    // }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      transform: scaleX(0.6);
      transform-origin: center;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      transform: scaleX(0.6);
      transform-origin: center;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .location-slider {
    padding: 0 48px;
  }
  .reveal-element-stagger {
    position: relative;
    overflow: hidden;
    .tag-location-list {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 16px;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
      .tag-location {
        padding: 8px 12px;
        font-size: 12px;
        line-height: 16px;
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: var(--color-primary-2);
    }
  }
  .location-item {
    .reveal-element-stagger {
      height: 360px;
    }
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .location-content {
      padding-top: 40px;
      max-width: 80%;
      margin: 0 auto;
      height: calc(100% - 360px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        font-family: var(--font-heading);
        text-align: center;
        margin-bottom: 12px;
      }
      .desc {
        font-size: 16px;
        line-height: 26px;
        color: var(--color-black);
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
  .swiper-slide {
    height: auto;
  }
  .location-item {
    height: 100%;
  }
  .swiper-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    margin-top: 0;
    transform: translateY(-180px);
    transition: all 0.3s ease;
    &.swiper-button-lock {
      opacity: 0;
    }
    &:hover {
      background-color: var(--color-primary-2);
    }
    svg {
      width: auto;
      height: auto;
    }
    &::after {
      font-size: 0;
      content: unset;
    }
  }
  .swiper-button-next {
    right: 24px;
  }
  .swiper-button-prev {
    left: 24px;
  }
}
