.banner-description {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 62px;
  //   padding-bottom: 120px;
  &.scroll-trigger {
    padding-top: 0;
    padding-bottom: 80px;
    height: auto;
  }
  &-box {
    max-width: 50%;
    width: 100%;
    position: relative;
    z-index: 3;
    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      position: relative;
      opacity: 0;
    }
    .tag-animation {
      font-weight: 500;
      line-height: 62px;
      position: relative;
      text-align: center;
      &:hover {
        &::before {
          transform: scaleX(1);
        }
        &::after {
          transform: scaleX(1);
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-black);
        transform: scaleX(0.6);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-black);
        transform: scaleX(0.6);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .description {
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      font-style: italic;
      font-family: var(--font-heading);
      text-align: center;
      margin-bottom: 48px;
      opacity: 0;
    }
    .button {
      opacity: 0;
    }
  }
  .image-trail {
    position: absolute;
    inset: 0;
    width: 300px;
    height: 400px;
    border-radius: 0px;
    object-fit: cover;
    pointer-events: none;
    opacity: 1;
  }
}
