#booking {
  .booking {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 788;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &-container {
      position: fixed;
      background-color: var(--color-white);
      // background-color: red;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 789;
      width: calc(calc(4 / 12) * 100% + 32px);
      padding: 120px 40px 40px;
      transition: all 0.3s ease;
      will-change: clip-path;
      clip-path: inset(0 0 0 100%);
      &.active {
        clip-path: inset(0% 0% 0% 0%);
      }
      form {
        .group-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          &.full {
            grid-template-columns: 1fr;
          }
          .row-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            label {
              font-size: 12px;
              line-height: 16px;
              color: var(--color-primary);
            }
            input {
              box-shadow: none;
              outline: none;
              border: none;
              border-bottom: 1px solid var(--color-primary);
              padding-bottom: 4px;
              &::placeholder {
                font-size: 16px;
                line-height: 26px;
                color: rgba(0, 44, 72, 0.3);
              }
            }
          }
        }
      }
    }
  }
}
