#booking {
  .booking {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 788;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &-container {
      position: fixed;
      background-color: var(--color-white);
      // background-color: red;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 789;
      width: calc(calc(4 / 12) * 100% + 32px);
      padding: 100px 48px 40px 40px;
      transition: all 0.3s ease;
      will-change: clip-path;
      clip-path: inset(0 0 0 100%);
      &.active {
        clip-path: inset(0% 0% 0% 0%);
      }
      form {
        .group-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 12px;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          &.full {
            grid-template-columns: 1fr;
          }
          .row-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            label {
              font-size: 12px;
              line-height: 16px;
              color: var(--color-primary);
            }
            input,
            textarea {
              box-shadow: none;
              outline: none;
              border: none;
              border-bottom: 1px solid var(--color-primary);
              padding-bottom: 4px;
              &::placeholder {
                font-size: 16px;
                line-height: 26px;
                color: rgba(0, 44, 72, 0.3);
              }
            }
            textarea {
              resize: none;
            }
            input[type="radio"] {
              appearance: none;
              -webkit-appearance: none;
              width: 15px;
              height: 15px;
              border: 1px solid var(--color-primary);
              border-radius: 50%;
              outline: none;
              cursor: pointer;
              position: relative;
              &:checked {
                &::before {
                  opacity: 1;
                  visibility: visible;
                }
              }
              &::before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background-color: var(--color-primary);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
              }
            }
            .radio-list {
              display: flex;
              align-items: center;
              gap: 24px;
            }
            .radio-item {
              display: flex;
              align-items: center;
              gap: 12px;
              label {
                font-size: 16px;
                line-height: 26px;
                color: var(--color-primary);
                font-weight: normal;
              }
            }

            input[type="range"] {
              -webkit-appearance: none;
              margin: 16px 0 0;
              width: 100%;
              border-bottom: none;
              padding: 10px 0;
              background: transparent;

              --progress: 0%;

              &:focus {
                outline: none;
              }

              &::-webkit-slider-runnable-track {
                width: 100%;
                height: 1px;
                cursor: pointer;
                animate: 0.2s;
                // Dùng CSS variable để tạo gradient động
                background: linear-gradient(
                  to right,
                  var(--color-primary) 0%,
                  var(--color-primary) var(--progress),
                  rgba(0, 44, 72, 0.3) var(--progress),
                  rgba(0, 44, 72, 0.3) 100%
                );
                border-radius: 25px;
              }

              &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: var(--color-primary);
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -5px;
              }

              // Firefox
              &::-moz-range-track {
                width: 100%;
                height: 1px;
                cursor: pointer;
                background: linear-gradient(
                  to right,
                  var(--color-primary) 0%,
                  var(--color-primary) var(--progress),
                  rgba(0, 44, 72, 0.3) var(--progress),
                  rgba(0, 44, 72, 0.3) 100%
                );
                border-radius: 25px;
              }

              &::-moz-range-thumb {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: var(--color-primary);
                cursor: pointer;
                border: none;
              }

              &::-moz-range-progress {
                background: var(--color-primary);
                height: 1px;
                border-radius: 25px;
              }
            }
            .range-wrap {
              position: relative;
            }
            .range-value {
              position: absolute;
              top: -4px;
            }
            .range-value span {
              width: 30px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              color: var(--color-primary);
              font-size: 16px;
              display: block;
              position: absolute;
              left: 0;
              transform: translate(-50%, 0);
            }
          }
        }
        .select-time {
          position: relative;
          .dropdown-custom-btn {
            border-bottom: 1px solid var(--color-primary);
            padding-bottom: 4px;
          }
          .dropdown-custom-text {
            color: rgba(0, 44, 72, 0.3);
            &.selected {
              color: var(--color-primary);
            }
          }
          .dropdown-custom-menu {
            position: absolute;
            top: 100%;

            background-color: var(--color-primary-1);
            width: 100%;
            z-index: 2;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            clip-path: inset(0 0 100% 0);
            transition: clip-path 0.3s ease;
            will-change: clip-path;
            &.dropdown--active {
              clip-path: inset(0 0 0 0);
            }
          }
          .dropdown-custom-item {
            font-size: 16px;
            line-height: 26px;
            color: var(--color-white);
          }
        }
      }
    }
  }
}
