.chef {
  overflow: hidden;
  padding: 120px 48px 120px 0;
  &.chef-reverse-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    .chef-container {
      grid-template-columns: 4fr 8fr;
      max-width: calc(calc(10 / 12) * 100%);
    }
    .chef-image-wrapper {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .chef-content {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding-right: 0;
    }
    .chef-description {
      ul {
        list-style-type: disc;
        padding-left: 24px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }
  &-image {
    width: 100%;
    aspect-ratio: 430 / 580;
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      aspect-ratio: 430 / 580;
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 2;
      transform: scaleX(0);
      transform-origin: left;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc((calc(1 / 12) * 100% + 24px));
    padding-right: calc((calc(1 / 12) * 100% + 24px));
    .box-content {
      .chef-title {
        margin-bottom: 40px;
      }
    }
  }
  &-button {
    margin-top: 40px;
  }
}
