.chef {
  overflow: hidden;
  padding: 120px 48px 120px 0;
  &-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }
  &-image {
    width: 100%;
    aspect-ratio: 430 / 580;
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      aspect-ratio: 430 / 580;
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 2;
      transform: scaleX(0);
      transform-origin: left;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc((calc(1 / 12) * 100% + 24px));
    padding-right: calc((calc(1 / 12) * 100% + 24px));
    .box-content {
      .chef-title {
        margin-bottom: 40px;
      }
    }
  }
  &-button {
    margin-top: 40px;
  }
}
