#footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // height: var(--footer-height);
  .footer {
    &-container {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 204px auto;
      gap: 24px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    &-main {
      &-col {
        &.menu-col {
          ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            @media (max-width: 991px) {
              flex-wrap: wrap;
              flex-direction: row;
              gap: 16px 40px;
            }
            li {
              a {
                font-family: var(--font-body);
                font-size: 14px;
                line-height: 23px;
                color: var(--color-primary);
                letter-spacing: 0.03rem;
              }
            }
          }
        }
        &.opening-hours {
          .day-open {
            font-family: var(--font-body);
            font-size: 14px;
            line-height: 23px;
            color: var(--color-primary);
            letter-spacing: 0.03rem;
            margin-bottom: 16px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @media (max-width: 991px) {
              flex-direction: row;
              gap: 60px;
            }
          }
          .opening-item {
            .service,
            .time {
              font-family: var(--font-body);
              font-size: 14px;
              line-height: 23px;
              color: var(--color-primary);
              letter-spacing: 0.03rem;
            }
          }
        }
        &.address-col {
          .address-item {
            ul {
              li {
                p,
                a {
                  font-family: var(--font-body);
                  font-size: 14px;
                  line-height: 23px;
                  color: var(--color-primary);
                  letter-spacing: 0.03rem;
                }
              }
            }
          }
          .address-group {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 20px;
            @media (max-width: 991px) {
              margin-bottom: 0;
            }
          }
        }
      }
      &-top {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        gap: 24px;
        padding-left: calc(calc(1 / 12) * 100% + 48px);
        padding-left: 128px;
        @media (max-width: 991px) {
          grid-template-columns: 1fr;
          padding-left: 0;
        }
      }
      &-bottom {
        display: grid;
        grid-template-columns: 204px auto;
        gap: 24px;
        padding-top: 70px;
        padding-bottom: 32px;
        @media (max-width: 991px) {
          grid-template-columns: 1fr;
          padding: 24px;
        }
        .text-managed {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: var(--color-primary);
          letter-spacing: 0.03rem;
          font-family: var(--font-body);
          text-align: center;
          @media (max-width: 991px) {
            text-align: left;
          }
        }
        .text-copyright {
          padding-left: calc(calc(1 / 12) * 100% + 48px);
          padding-left: 128px;
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: var(--color-primary);
          letter-spacing: 0.03rem;
          font-family: var(--font-body);
          @media (max-width: 991px) {
            padding-left: 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
          }
          span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: var(--color-primary);
            letter-spacing: 0.03rem;
            font-family: var(--font-body);
            @media (max-width: 991px) {
              white-space: nowrap;
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }
        .footer-bottom-right {
          display: grid;
          grid-template-columns: 5fr 2fr;
          gap: 24px;
          @media (max-width: 991px) {
            display: flex;
            flex-direction: column-reverse;
          }
          .social {
            padding-left: 42px;
            @media (max-width: 991px) {
              padding-left: 0;
            }
            ul {
              display: flex;
              align-items: center;
              gap: 12px;
              li {
                a {
                  &:hover {
                    svg {
                      path {
                        stroke: var(--color-primary-1);
                      }
                    }
                  }
                  &.hover-fill {
                    &:hover {
                      svg {
                        path {
                          &:last-child {
                            fill: var(--color-primary-1);
                            stroke: transparent;
                          }
                        }
                      }
                    }
                  }
                  svg {
                    width: 20px;
                    height: 20px;
                    path {
                      transition: all 0.3s ease;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-title {
      font-family: var(--font-body);
      font-size: 14px;
      line-height: 23px;
      font-weight: bold;
      color: var(--color-primary);
      letter-spacing: 0.03rem;
    }
    &-logo {
      img {
        @media (max-width: 991px) {
          width: 140px;
          height: auto;
        }
      }
    }
  }
}
