#footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // height: var(--footer-height);
  .footer {
    &-container {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 204px auto;
      gap: 24px;
    }
    &-main {
      &-col {
        &.menu-col {
          ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            li {
              a {
                font-family: var(--font-body);
                font-size: 14px;
                line-height: 23px;
                color: var(--color-primary);
                letter-spacing: 0.03rem;
              }
            }
          }
        }
        &.opening-hours {
          .day-open {
            font-family: var(--font-body);
            font-size: 14px;
            line-height: 23px;
            color: var(--color-primary);
            letter-spacing: 0.03rem;
            margin-bottom: 16px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
          .opening-item {
            .service,
            .time {
              font-family: var(--font-body);
              font-size: 14px;
              line-height: 23px;
              color: var(--color-primary);
              letter-spacing: 0.03rem;
            }
          }
        }
        &.address-col {
          .address-item {
            ul {
              li {
                p,
                a {
                  font-family: var(--font-body);
                  font-size: 14px;
                  line-height: 23px;
                  color: var(--color-primary);
                  letter-spacing: 0.03rem;
                }
              }
            }
          }
          .address-group {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 20px;
          }
        }
      }
      &-top {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        gap: 24px;
        padding-left: calc(calc(1 / 12) * 100% + 48px);
        padding-left: 128px;
      }
      &-bottom {
        display: grid;
        grid-template-columns: 204px auto;
        gap: 24px;
        padding-top: 70px;
        padding-bottom: 32px;
        .text-managed {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: var(--color-primary);
          letter-spacing: 0.03rem;
          font-family: var(--font-body);
          text-align: center;
        }
        .text-copyright {
          padding-left: calc(calc(1 / 12) * 100% + 48px);
          padding-left: 128px;
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
          color: var(--color-primary);
          letter-spacing: 0.03rem;
          font-family: var(--font-body);
          span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: var(--color-primary);
            letter-spacing: 0.03rem;
            font-family: var(--font-body);
          }
        }
        .footer-bottom-right {
          display: grid;
          grid-template-columns: 5fr 2fr;
          gap: 24px;
          .social {
            padding-left: 42px;
            ul {
              display: flex;
              align-items: center;
              gap: 12px;
              li {
                a {
                  &:hover {
                    svg {
                      path {
                        stroke: var(--color-primary-1);
                      }
                    }
                  }
                  &.hover-stroke-fill {
                    &:hover {
                      svg {
                        path {
                          fill: var(--color-primary-1);
                          stroke: transparent;
                        }
                      }
                    }
                  }
                  svg {
                    path {
                      transition: all 0.3s ease;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &-title {
      font-family: var(--font-body);
      font-size: 14px;
      line-height: 23px;
      font-weight: bold;
      color: var(--color-primary);
      letter-spacing: 0.03rem;
    }
  }
}
