.line-hover {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: var(--color-primary-1);
    transition: all 0.3s ease-in-out;
  }
  &.active {
    &::before {
      width: 100%;
    }
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
.button-global {
  width: 204px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary-1);

  & > span {
    overflow: hidden;
    display: block;
    color: var(--color-white);
    font-size: 16px;
    line-height: 22px;
  }
  &:hover {
    &::after {
      transform: scaleY(1);
      transform-origin: right bottom;
    }

    span {
      animation:
        MoveUpInitial 0.2s forwards,
        MoveUpEnd 0.2s forwards 0.2s;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-2);
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: right top;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  & > span {
    position: relative;
    z-index: 3;
  }
}
@keyframes MoveUpInitial {
  100% {
    transform: translate3d(0, -105%, 0);
  }
}
@keyframes MoveUpEnd {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
