.line-hover {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--color-primary-2);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.button-global {
  padding: 12px 23.5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary-2);
  border: 1px solid var(--color-primary);
  // &.background-black {
  //   &:after {
  //     background-color: var(--color-black);
  //   }
  // }
  span {
    display: block;
    color: var(--color-primary);
    font-size: 16px;
    line-height: 22px;
    position: relative;
  }
  .text-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      transform: translateY(2px);
      transition: transform 0.3s ease;
      svg {
        path {
          transition: all 0.3s ease;
        }
      }
    }
  }
  & > span {
    transition: color 0.3s ease;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .text-wrapper {
      span {
        color: var(--color-primary-2);
      }
    }
    .icon {
      transform: translate(2px, 2px);
      svg {
        path {
          stroke: var(--color-primary-2);
        }
      }
    }

    // span {
    //   animation:
    //     MoveUpInitial 0.3s forwards,
    //     MoveUpEnd 0.2s forwards 0.2s;
    // }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  & > span {
    position: relative;
    z-index: 3;
  }
}
@keyframes MoveUpInitial {
  100% {
    transform: translate3d(0, -105%, 0);
  }
}
@keyframes MoveUpEnd {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
// custom cursor
.mf-cursor:before {
  width: 24px;
  height: 24px;
  top: -12px;
  left: -12px;
}

.mf-cursor {
  &.-text {
    &::before {
      width: 64px !important;
      height: 64px !important;
      top: -32px !important;
      left: -32px !important;
      transform: scale(1) !important;
      background-color: var(--color-primary-2);
      opacity: 1;
    }
    .mf-cursor-text {
      font-size: 12px;
      line-height: 16px;
      color: var(--color-black);
    }
  }
}
