.line-hover {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.button-global {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-right: 4px;
  span {
    display: block;
    color: var(--color-primary);
    font-size: 16px;
    line-height: 22px;
    position: relative;
  }
  .text-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      transform: translateY(2px);
      transition: transform 0.3s ease;
      svg {
        path {
          transition: all 0.3s ease;
        }
      }
    }
  }
  & > span {
    transition: color 0.3s ease;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .icon {
      transform: translate(2px, 2px);
    }

    // span {
    //   animation:
    //     MoveUpInitial 0.3s forwards,
    //     MoveUpEnd 0.2s forwards 0.2s;
    // }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: calc(100% - 20px);
    height: 1px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }
  & > span {
    position: relative;
    z-index: 3;
  }
}
@keyframes MoveUpInitial {
  100% {
    transform: translate3d(0, -105%, 0);
  }
}
@keyframes MoveUpEnd {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
// custom cursor
.mf-cursor:before {
  width: 24px;
  height: 24px;
  top: -12px;
  left: -12px;
}

.mf-cursor {
  &.-text {
    &::before {
      width: 64px !important;
      height: 64px !important;
      top: -32px !important;
      left: -32px !important;
      transform: scale(1) !important;
      background-color: var(--color-primary-2);
      opacity: 1;
    }
    .mf-cursor-text {
      font-size: 12px;
      line-height: 16px;
      color: var(--color-black);
    }
  }
}
.fixed-address {
  position: fixed;
  z-index: 1234;
  background-color: var(--color-primary);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
  top: 30px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 16px 24px;
  &-item {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: var(--font-body);
    color: var(--color-primary-2);
    cursor: pointer;
    &.line-hover {
      &::before {
        background-color: var(--color-primary-2);
      }
    }
  }
}
.marquee {
  width: 100vw;
  overflow: hidden;
  &-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-scroll {
    display: flex;
    position: relative;
    will-change: transform;
  }
  &-list {
    display: flex;
    position: relative;
    will-change: transform;
    &-wrap {
      flex: none;
    }
  }
  &-item {
    margin-right: 12px;
    margin-left: 12px;
    flex: none;
    max-width: 320px;
  }
}
