#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--color-primary);
  transition: transform 0.5s ease;
  &.scrolled {
    transform: translateY(-100%);
  }
  .header {
    &-logo {
      display: flex;
      align-items: center;
    }
    &-container {
      padding-left: 48px;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 24px;
    }
    &-menu {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        li {
          &.menu-item-has-children {
            position: relative;
            &:hover {
              & > .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
              & > a::after {
                opacity: 1;
                visibility: visible;
              }
            }
            & > a {
              display: flex;
              align-items: center;
              gap: 8px;
              position: relative;
              &.line-hover {
                &::before {
                  max-width: calc(100% - 20px);
                }
              }
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: -10%;
                width: 110%;
                background-color: transparent;
                height: 20px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
              }
            }
            & > .sub-menu {
              position: absolute;
              top: 100%;
              left: -16px;
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              min-width: 100%;
              gap: 4px;
              background-color: var(--color-primary-2);
              padding: 16px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
              transform: translateY(10px);
              .line-hover {
                &::before {
                  background-color: var(--color-primary);
                }
              }
              li {
                a,
                span {
                  font-family: var(--font-body);
                  font-size: 14px;
                  line-height: 23px;
                  font-weight: 400;
                  color: var(--color-primary);
                  text-transform: uppercase;
                }
              }
            }
          }
          a,
          span {
            font-family: var(--font-body);
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            color: var(--color-primary-2);
            text-transform: uppercase;
          }
        }
      }
    }
    &-reservation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .cta-reservation {
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: var(--color-primary-1);
        height: 64px;
        padding-left: 34px;
        padding-right: 34px;
        span {
          font-family: var(--font-body);
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: var(--color-white);
        }
      }
    }
  }
}
