#header {
  .header {
    &-container {
      padding: 24px 48px 0;
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 999;
      transition: transform 0.5s ease;
    }
    &-empty {
      pointer-events: none;
    }
    &-hamburger {
      width: 52px;
      height: 52px;
      background-color: var(--color-primary);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &-container {
        width: 24px;
        height: 16px;
        position: relative;
        transition: all 0.3s ease;
        z-index: 99;
        &::before {
          content: "";
          position: absolute;
          inset: -18px -14px;
        }
        &.active {
          span {
            &:nth-child(1) {
              top: 7.5px;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              transform: scaleX(0);
              opacity: 0;
            }
            &:nth-child(3) {
              top: 7.5px;
              transform: rotate(-45deg);
            }
          }
        }
        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--color-primary-2);
          left: 0;
          transition: all 0.3s ease;
          opacity: 1;

          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2) {
            top: 7.5px;
          }
          &:nth-child(3) {
            top: 15px;
          }
        }
      }
    }
    &-sub-menu {
      position: fixed;
      background-color: var(--color-white);
      // background-color: red;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 789;
      width: calc(calc(4 / 12) * 100% + 32px);
      padding: 120px 40px 40px;
      transition: all 0.3s ease;
      will-change: clip-path;
      clip-path: inset(0 0 0 100%);
      &.active {
        clip-path: inset(0% 0% 0% 0%);
      }
    }
    &-menu {
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          a {
            font-size: 20px;
            line-height: 28px;
            color: var(--color-primary);
            font-weight: normal;
            transition: all 0.3s ease;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 1px;
              bottom: -1px;
              width: 100%;
              height: 1px;
              background-color: var(--color-primary);
              transform: scaleX(0);
              transform-origin: bottom right;
              transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
            &:hover {
              &::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
