.hero {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  padding-right: 48px;
  &.content-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-top: 80px;
    height: auto;
    .hero-container {
      grid-template-columns: 1fr;
      max-width: calc(calc(10 / 12) * 100%);
    }
    .hero-image {
      height: 430px;
    }
    .hero-content {
      margin-top: 48px;
      padding-left: 0;
    }
    .hero-title {
      display: inline-block;
      margin: 0 auto 40px;
    }
    .box-content {
      text-align: center;
      padding-left: calc(calc(1 / 12) * 100%);
      padding-right: calc(calc(1 / 12) * 100%);
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 100%;
  }
  &-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &-wrapper {
      height: 100%;
      overflow: hidden;
    }
    .image {
      width: 100%;
      height: 100%;
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 2;
      transform: scaleX(0);
      transform-origin: left;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
  }
  &-content {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin-bottom: 40px;
  }
  &-content {
    visibility: hidden;
  }
  &-description {
    opacity: 0;
  }
}
