.hero {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  &-container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    height: 100%;
    gap: 24px;
  }
  &-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 2;
      transform: scaleX(0);
      transform-origin: left;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transform: scale(1.05);
    }
  }
  &-content {
    padding-right: 48px;
    padding-left: calc((calc(1 / 12) * 100% + 24px));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin-bottom: 40px;
  }
  &-content {
    visibility: hidden;
  }
  &-description {
    opacity: 0;
  }
  &-list-michelin {
    margin-top: 100px;
    opacity: 0;
    ul {
      gap: 20px;
    }
  }
}
