.menu-gallery {
  padding: 0 48px 120px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 360px);
    gap: 32px;
    margin-bottom: 40px;
  }
  &-item {
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform: scale(1.05);
      }
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 2;
    }
    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    &:nth-child(2) {
      grid-column: span 2;
      grid-row: 1 / 2;
    }
  }
}
