.menu-gallery {
  padding: 0 48px 120px;

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 360px);
    gap: 24px;
    margin-bottom: 40px;
  }
  &-item {
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transform: scale(1.05);
      }
    }
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-2);
      z-index: 4;
    }
    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    &:nth-child(2) {
      grid-column: span 2;
      grid-row: 1 / 2;
    }
  }
  &.column-layout-2 {
    padding-bottom: 0;
    .menu-gallery-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(2, 400px);
    }
    .menu-gallery-item {
      grid-column: span 2;
      grid-row: span 1;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      &:hover {
        .tag-animation {
          &::before {
            transform: scaleX(1) !important;
          }
          &::after {
            transform: scaleX(1) !important;
          }
        }
        &::before {
          opacity: 1;
          visibility: visible;
        }
        .icon-menu {
          opacity: 1;
          visibility: visible;
        }
      }
      .tag {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        .tag-animation {
          font-size: 16px;
          line-height: 58px;
          text-transform: uppercase;
          color: var(--color-white);
          font-weight: 500;
          position: relative;
          text-align: center;
          &:hover {
            &::before {
              transform: scaleX(1);
            }
            &::after {
              transform: scaleX(1);
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: var(--color-white);
            transform: scaleX(0.4);
            transform-origin: center;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--color-white);
            transform: scaleX(0.4);
            transform-origin: center;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
      .icon-menu {
        position: absolute;
        z-index: 2;
        top: 16px;
        left: 16px;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        display: none;
      }
      .link-review {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }
  &.multi-item {
    .menu-gallery-list {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 400px) repeat(2, 360px);
    }
    .menu-gallery-item {
      &:nth-child(7n + 1),
      &:nth-child(7n + 2),
      &:nth-child(7n + 3),
      &:nth-child(7n + 4) {
        grid-column: span 6;
        grid-row: span 1;
      }
      &:nth-child(7n + 5) {
        grid-column: span 4;
        grid-row: span 2;
      }
      &:nth-child(7n + 6),
      &:nth-child(7n + 7) {
        grid-column: span 8;
        grid-row: span 1;
      }
    }
  }
  &.gallery-list {
    .menu-gallery-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 360px);
      gap: 24px;
      .menu-gallery-item {
        &:nth-child(8n + 1) {
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
        }
        &:nth-child(8n + 2) {
          grid-column: auto / span 2;
          grid-row: 1 / span 1;
        }
        &:nth-child(8n + 3),
        &:nth-child(8n + 4),
        &:nth-child(8n + 5),
        &:nth-child(8n + 6) {
          grid-column: auto / span 1;
          grid-row: auto / span 1;
        }

        &:nth-child(8n + 7) {
          grid-column: auto / span 1;
          grid-row: auto / span 2;
        }
        &:nth-child(8n + 8) {
          grid-column: auto / span 2;
          grid-row: auto / span 1;
        }
      }
    }
  }
}
