.union {
  padding: 0 48px 120px;
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    &.active {
      .tag-animation {
        &::before {
          transform: scaleX(1);
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }
    // opacity: 0;
    .tag-animation {
      font-weight: 500;
      position: relative;
      display: inline-block; /* ← thêm cái này rất quan trọng */
      text-align: center;
      padding: 16px 0;
      /* max-width: 350px; */ /* có thể giữ hoặc bỏ tùy ý */

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0; /* ← thêm right: 0 */
        height: 1px;
        background-color: var(--color-black);
        transform: scaleX(0.5);
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      .tag.active & {
        /* cách viết gọn hơn */
        &::before,
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 90px 0;
  }
  &-row {
    .union-item {
      display: grid;
      grid-template-columns: 4fr 8fr;
      align-items: center;
      gap: 12px;
    }
    &.reverse-row {
      .union-item {
        grid-template-columns: 8fr 4fr;
        .union-content {
          grid-column: 2 / 3;
        }
        .union-image {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
      }
    }
  }
  &-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    .reveal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: var(--color-primary-2);
    }
    .image {
      width: 100%;
      height: 360px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    .box {
      h5 {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        color: var(--color-black);
        margin-bottom: 12px;
        text-align: center;
        font-family: var(--font-heading);
      }
      .description {
        text-align: center;
        margin-bottom: 40px;
        color: var(--color-black);
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
  }
}
