:root {
  // font
  --font-heading: "Georgia", sans-serif;
  --font-body: "SFU Futura", sans-serif;
  // color
  --color-black: #002c48;
  --color-white: #ffffff;
  --color-primary-1: #b58150;
  --color-primary-2: #acdcd2;
  --color-primary: #002c48;
}
// font variable
// color variable
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.color-primary-1 {
  color: var(--color-primary-1);
}
.color-primary-2 {
  color: var(--color-primary-2);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.h1-font {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
}
.b1-font {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.b2-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.h0-font {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
