<div class="container-fluid p-0">
  <div class="row g-0 justify-content-center">
    <div class="col-lg-10">
      <div class="footer-container">
        <div class="footer-logo">
          <a href="./index.html" class="d-inline-block">
            <img src="./assets/images/icons/logo-footer.svg" alt="" />
          </a>
        </div>
        <div class="footer-main">
          <div class="footer-main-top">
            <div class="footer-main-col address-col">
              <div class="address-group">
                <div class="address-item">
                  <div class="address-title footer-title">Dong Khoi</div>
                  <ul>
                    <li><p>93-95-97 Dong Khoi, Saigon Ward, HCMC</p></li>
                    <li>
                      <a href="tel:+84 28 3822 2226" class="line-hover"
                        >+84 28 3822 2226</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="address-item">
                  <div class="address-title footer-title">Union Square</div>
                  <ul>
                    <li><p>171 Dong Khoi, Saigon Ward, HCMC</p></li>
                    <li>
                      <a
                        href="mailto:contact@vietnamhousesaigon.com"
                        class="line-hover"
                        >contact@vietnamhousesaigon.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="social">
                <ul>
                  <li>
                    <a href="" target="_blank" class="hover-stroke-fill">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_166_29)">
                          <path
                            d="M19.3724 10.0568C19.3718 4.88117 15.1762 0.685547 9.99994 0.685547C4.82369 0.685547 0.627441 4.8818 0.627441 10.058C0.627441 14.7174 4.02744 18.5824 8.48119 19.308L8.53494 19.3155V12.7668H6.15494V10.0568H8.53494V7.99305C8.52307 7.88867 8.51682 7.76742 8.51682 7.64492C8.51682 5.81805 9.99807 4.3368 11.8249 4.3368C11.9131 4.3368 12.0006 4.34055 12.0874 4.3468L12.0762 4.34617C12.8256 4.3568 13.5506 4.42305 14.2581 4.54117L14.1743 4.5293V6.83555H12.9918C12.9381 6.82805 12.8762 6.82367 12.8137 6.82367C12.0656 6.82367 11.4587 7.42992 11.4587 8.17867C11.4587 8.22117 11.4606 8.26305 11.4643 8.30492L11.4637 8.2993V10.0568H14.0631L13.6474 12.7668H11.4637V19.3155C15.9718 18.5818 19.3718 14.7162 19.3724 10.0568Z"
                            fill="#B58150"
                          />
                        </g>
                        <defs>
                          <clipPath id="clip0_166_29">
                            <rect width="20" height="20" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="" target="_blank">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.0625 1.875H5.9375C3.69384 1.875 1.875 3.69384 1.875 5.9375V14.0625C1.875 16.3061 3.69384 18.125 5.9375 18.125H14.0625C16.3061 18.125 18.125 16.3061 18.125 14.0625V5.9375C18.125 3.69384 16.3061 1.875 14.0625 1.875Z"
                          stroke="#B58150"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M13.252 9.48837C13.3523 10.1646 13.2368 10.8552 12.9219 11.4619C12.607 12.0687 12.1089 12.5607 11.4983 12.8681C10.8877 13.1755 10.1957 13.2824 9.52079 13.1739C8.84588 13.0652 8.22239 12.7465 7.73901 12.2632C7.25564 11.7798 6.93699 11.1563 6.82839 10.4814C6.71979 9.8065 6.82676 9.11453 7.1341 8.50392C7.44144 7.89331 7.93349 7.39516 8.54026 7.08031C9.14704 6.76547 9.83764 6.64997 10.5138 6.75025C11.2036 6.85252 11.8422 7.17393 12.3352 7.667C12.8283 8.16005 13.1496 8.79862 13.252 9.48837Z"
                          stroke="#B58150"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M14.4678 5.53223H14.4803"
                          stroke="#B58150"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-main-col opening-hours">
              <div class="footer-title">Opening Hours</div>
              <div class="day-open">Monday - Sunday</div>
              <ul>
                <li>
                  <div class="opening-item">
                    <div class="service">Lunch Service</div>
                    <div class="time">11:30 - 15:00</div>
                  </div>
                </li>
                <li>
                  <div class="opening-item">
                    <div class="service">Dining Service</div>
                    <div class="time">17:30 - 22:30</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-main-col menu-col">
              <ul>
                <li>
                  <a href="" class="line-hover">Home</a>
                </li>
                <li>
                  <a href="" class="line-hover">About Us</a>
                </li>
                <li>
                  <a href="" class="line-hover">Menu</a>
                </li>
                <li>
                  <a href="" class="line-hover">Champage Bar</a>
                </li>
                <li>
                  <a href="" class="line-hover">Experiences & Collections</a>
                </li>
                <li>
                  <a href="" class="line-hover">Gallery</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-main-bottom">
        <div class="text-managed">Managed by Vina Collective</div>
        <div class="text-copyright">
          <span> © 2026 Vietnam House Saigon</span> |
          <span
            ><a
              href="https://alphacreative.vn/"
              class="line-hover"
              target="_blank"
              >Digital Experience by Alpha Creative</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
