<div class="container-fluid p-0">
  <div class="row g-0 justify-content-center">
    <div class="col-lg-10">
      <div class="footer-container">
        <div class="footer-logo">
          <a href="./index.html" class="d-inline-block">
            <img src="./assets/images/icons/logo-footer.svg" alt="" />
          </a>
        </div>
        <div class="footer-main">
          <div class="footer-main-top">
            <div class="footer-main-col address-col">
              <div class="address-group">
                <div class="address-item">
                  <div class="address-title footer-title">Dong Khoi</div>
                  <ul>
                    <li><p>93-95-97 Dong Khoi, Saigon Ward, HCMC</p></li>
                    <li>
                      <a href="tel:+84 28 3822 2226" class="line-hover"
                        >+84 28 3822 2226</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="address-item">
                  <div class="address-title footer-title">Union Square</div>
                  <ul>
                    <li><p>171 Dong Khoi, Saigon Ward, HCMC</p></li>
                    <li>
                      <a
                        href="mailto:contact@vietnamhousesaigon.com"
                        class="line-hover"
                        >contact@vietnamhousesaigon.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-main-col opening-hours">
              <div class="footer-title">Opening Hours</div>
              <div class="day-open">Monday - Sunday</div>
              <ul>
                <li>
                  <div class="opening-item">
                    <div class="service">Lunch Service</div>
                    <div class="time">11:30 - 15:00</div>
                  </div>
                </li>
                <li>
                  <div class="opening-item">
                    <div class="service">Dining Service</div>
                    <div class="time">17:30 - 22:30</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-main-col menu-col">
              <ul>
                <li>
                  <a href="" class="line-hover">Home</a>
                </li>
                <li>
                  <a href="" class="line-hover">About Us</a>
                </li>
                <li>
                  <a href="" class="line-hover">Champage Bar</a>
                </li>
                <li>
                  <a href="" class="line-hover">Menu</a>
                </li>

                <li>
                  <a href="" class="line-hover">Experiences </a>
                </li>
                <li>
                  <a href="" class="line-hover">Gallery</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-main-bottom">
        <div class="text-managed">Managed by Vina Collective</div>
        <div class="footer-bottom-right">
          <div class="text-copyright">
            <span> © 2026 Vietnam House Saigon</span> <span>|</span>
            <span
              ><a
                href="https://alphacreative.vn/"
                class="line-hover"
                target="_blank"
                >Digital Experience by Alpha Creative</a
              ></span
            >
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="" target="_blank">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_929_140)">
                      <path
                        d="M19.3724 10.0568C19.3718 4.88117 15.1762 0.685547 9.99994 0.685547C4.82369 0.685547 0.627441 4.8818 0.627441 10.058C0.627441 14.7174 4.02744 18.5824 8.48119 19.308L8.53494 19.3155V12.7668H6.15494V10.0568H8.53494V7.99305C8.52307 7.88867 8.51682 7.76742 8.51682 7.64492C8.51682 5.81805 9.99807 4.3368 11.8249 4.3368C11.9131 4.3368 12.0006 4.34055 12.0874 4.3468L12.0762 4.34617C12.8256 4.3568 13.4668 4.41117 14.1743 4.5293V6.83555H12.9918C12.9381 6.82805 12.8762 6.82367 12.8137 6.82367C12.0656 6.82367 11.4587 7.42992 11.4587 8.17867C11.4587 8.22117 11.4606 8.26305 11.4643 8.30492L11.4637 8.2993V10.0568H14.0631L13.6474 12.7668H11.4637V19.3155C15.9718 18.5818 19.3718 14.7162 19.3724 10.0568Z"
                        stroke="#002C48"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_929_140">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a href="" target="_blank" class="hover-fill">
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.5 0.5H5.5C2.73857 0.5 0.5 2.73857 0.5 5.5V15.5C0.5 18.2614 2.73857 20.5 5.5 20.5H15.5C18.2614 20.5 20.5 18.2614 20.5 15.5V5.5C20.5 2.73857 18.2614 0.5 15.5 0.5Z"
                      stroke="#002C48"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.4567 9.91326C14.5801 10.7455 14.438 11.5955 14.0504 12.3423C13.6629 13.0891 13.0498 13.6946 12.2983 14.0729C11.5468 14.4513 10.6952 14.5828 9.86451 14.4492C9.03385 14.3156 8.26649 13.9233 7.67157 13.3284C7.07665 12.7335 6.68446 11.9661 6.5508 11.1355C6.41714 10.3048 6.5488 9.45316 6.92706 8.70164C7.30532 7.95011 7.91092 7.33701 8.65772 6.9495C9.40451 6.56201 10.2545 6.41986 11.0867 6.54327C11.9356 6.66915 12.7216 7.06473 13.3284 7.67158C13.9352 8.27841 14.3307 9.06434 14.4567 9.91326Z"
                      stroke="#002C48"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.4838 4.77997C17.53 5.09207 17.4767 5.4108 17.3314 5.69085C17.1861 5.9709 16.9562 6.19799 16.6744 6.33985C16.3926 6.48172 16.0732 6.53105 15.7617 6.48097C15.4502 6.43083 15.1624 6.28372 14.9393 6.06065C14.7162 5.83756 14.5692 5.54979 14.5191 5.2383C14.4689 4.9268 14.5183 4.60743 14.6601 4.32561C14.802 4.04379 15.0291 3.81388 15.3091 3.66856C15.5892 3.52325 15.9079 3.46995 16.22 3.51623C16.5384 3.56343 16.8331 3.71177 17.0606 3.93934C17.2882 4.1669 17.4365 4.46163 17.4838 4.77997Z"
                      fill="#002C48"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
