<div class="header-container">
  <div class="header-logo">
    <a href="./index.html" class="d-inline-block logo-website">
      <img src="./assets/images/icons/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-main">
    <div class="header-menu">
      <ul>
        <li>
          <a href="./index.html" class="line-hover">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="./*.html" class="line-hover"><span>About Us</span> </a>
        </li>
        <li class="menu-item-has-children">
          <a href="./menu.html" class="line-hover"
            ><span>Menu</span>
            <div class="icon">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.332031 0.373718L4.83203 4.37372L9.33203 0.373718"
                  stroke="#B58150"
                />
              </svg></div
          ></a>

          <ul class="sub-menu">
            <li>
              <a href="./*.html" class="line-hover"><span>Lunch</span></a>
            </li>
            <li>
              <a href="./*.html" class="line-hover"><span>Dinner</span></a>
            </li>
            <li>
              <a href="./*.html" class="line-hover"><span>Drinks</span></a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="./experience.html" class="line-hover"
            ><span>Experiences & Collections</span>
            <div class="icon">
              <svg
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.332031 0.373718L4.83203 4.37372L9.33203 0.373718"
                  stroke="#B58150"
                />
              </svg></div
          ></a>

          <ul class="sub-menu">
            <li>
              <a href="./*.html" class="line-hover"
                ><span>Champagne Bar</span></a
              >
            </li>
            <li>
              <a href="./*.html" class="line-hover"
                ><span>Afternoon Tea</span></a
              >
            </li>
            <li>
              <a href="./*.html" class="line-hover"><span>Merchandise</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="./*.html" class="line-hover">
            <span>Gallery</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-reservation">
    <a href="" class="cta-reservation">
      <div class="icon">
        <img src="./assets/images/icons/icon-calendar.svg" alt="" />
      </div>
      <span class="line-hover">Reservation</span>
    </a>
  </div>
</div>
