:root {
  --font-heading: "Georgia", sans-serif;
  --font-body: "SFU Futura", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-1: #b58150;
  --color-primary-2: #acdcd2;
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.color-primary-1 {
  color: var(--color-primary-1);
}

.color-primary-2 {
  color: var(--color-primary-2);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.h1-font {
  font-size: 54px;
  line-height: 64px;
  font-weight: 500;
}

.b1-font {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.b2-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.h0-font {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}